<div class="p-5">
  
  <h3 class="text-center p-4 m-0" style="font-weight: 500; color: white;">{{ 'register.title' | translate :locale.language }}</h3>
  
  <h5 class="p-2 text-center" style="font-weight: 500; color: white;">{{ 'register.subtitle' | translate:locale.language }}:</h5>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-user-container">
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="username" placeholder="{{ 'register.username.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.username.errors && (registerForm.controls.username.dirty || registerForm.controls.username.touched)">
        <mat-error *ngIf="registerForm.controls.username.errors.required" class="error-message">
          *{{ 'register.username.required' | translate:locale.language }}
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="email" type="text" placeholder="{{ 'register.email.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
        <mat-error *ngIf="registerForm.controls.email.errors.pattern">
          *{{ 'register.email.required' | translate:locale.language }} <strong>{{ 'register.email.strong' | translate:locale.language }}</strong>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="password" type="text" type="password" placeholder="{{ 'register.password.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
        <mat-error *ngIf="registerForm.controls.password.errors.required">
          *{{ 'register.password.required' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors.minlength">
          *{{ 'register.password.min_length' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors.pattern">
          *{{ 'register.password.regex' | translate:locale.language }}
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="confirm_password" type="text" type="password" placeholder="{{ 'register.password_confirm.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.confirm_password.errors && (registerForm.controls.confirm_password.dirty || registerForm.controls.confirm_password.touched)">
        <mat-error *ngIf="registerForm.controls.confirm_password.errors.required" class="error-message">
          *{{ 'register.password_confirm.required' | translate:locale.language }}
        </mat-error>
      </mat-error>
      <mat-error *ngIf="registerForm.controls.confirm_password.errors?.mustMatch" class="error-message">
        *{{ 'register.password_confirm.must_match' | translate:locale.language }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="first_name" placeholder="{{ 'register.first_name.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.first_name.errors && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched)">
        <mat-error *ngIf="registerForm.controls.first_name.errors.required">
          *{{ 'register.first_name.required' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.first_name.errors.maxlength">
          *{{ 'register.first_name.max_length' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.first_name.errors.pattern">
          *{{ 'register.first_name.regex' | translate:locale.language }}
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group mx-auto">
      <input matInput formControlName="last_name" placeholder="{{ 'register.last_name.placeholder' | translate:locale.language }}">
      <mat-error *ngIf="registerForm.controls.last_name.errors && (registerForm.controls.last_name.dirty || registerForm.controls.last_name.touched)">
        <mat-error *ngIf="registerForm.controls.last_name.errors.required">
          *{{ 'register.last_name.required' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.last_name.errors.maxlength">
          *{{ 'register.last_name.max_length' | translate:locale.language }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls.last_name.errors.pattern">
          *{{ 'register.last_name.regex' | translate:locale.language }}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
      {{errorMessage}}
    </div>

    <div style="width: 60%" class='mx-auto'>
      <button mat-raised-button color="primary" class='w-100'>{{ 'register.submit' | translate:locale.language }}</button>
    </div>
  </form>
</div>