<mat-tab-group class="container mt-3">

  <mat-tab label="{{ 'profile.title' | translate:locale.language }}">
    <section class="container  py-3">
      <form [formGroup]="userProfileForm" (ngSubmit)="onSubmitProfile()" class="user-profile-container">

        <mat-form-field class="form-group mx-auto">
          <input matInput style="color: white" [value]="user.username" [readonly]="true" placeholder="{{ 'profile.username' | translate:locale.language }}">
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput style="color: white" [value]="user.email" type="text" [readonly]="true" placeholder="{{ 'profile.email' | translate:locale.language }}">
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="first_name" style="color: white" [(ngModel)]="user.first_name" placeholder="{{ 'profile.first_name.placeholder' | translate:locale.language }}">
          <mat-error *ngIf="userProfileForm.controls.first_name.errors && (userProfileForm.controls.first_name.dirty || userProfileForm.controls.first_name.touched)">
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.required">
              *{{ 'profile.first_name.required' | translate:locale.language }}
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.maxlength">
              *{{ 'profile.first_name.max_length' | translate:locale.language }}
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.pattern">
              *{{ 'profile.first_name.regex' | translate:locale.language }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="last_name" style="color: white" [(ngModel)]="user.last_name" placeholder="{{ 'profile.last_name.placeholder' | translate:locale.language }}">
          <mat-error *ngIf="userProfileForm.controls.last_name.errors && (userProfileForm.controls.last_name.dirty || userProfileForm.controls.last_name.touched)">
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.required">
              *{{ 'profile.last_name.required' | translate:locale.language }}
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.maxlength">
              *{{ 'profile.last_name.max_length' | translate:locale.language }}
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.pattern">
              *{{ 'profile.last_name.regex' | translate:locale.language }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div style="width: 60%" class='mx-auto'>
          <button mat-raised-button color="accent" [disabled]="userProfileForm.invalid" class="p-2 w-100">{{ 'profile.save' | translate:locale.language }}</button>
        </div>
      </form>
    </section>

  </mat-tab>
 
</mat-tab-group>