<div class="container col-9 mx-auto">
    <h4 class="m-3" style="color: white">{{ 'orders.title' | translate:locale.language }}</h4>

    <div class=''>

        <div *ngFor="let order of orders" class="">
            <mat-card class="m-2">
                <mat-card-header>
                    <mat-icon mat-card-avatar aria-hidden="false" aria-label="Example home icon">content_paste</mat-icon>
                    <mat-card-title class='d-flex'>
                        <mat-chip-list [ngSwitch]="order.status" class='mr-3'>
                            <mat-chip *ngSwitchCase="'paid'">{{ 'orders.status.paid' | translate:locale.language }}</mat-chip>
                            <mat-chip *ngSwitchCase="'cancelled'">{{ 'orders.status.cancelled' | translate:locale.language }}</mat-chip>
                            <mat-chip *ngSwitchCase="'waiting'" color="primary" selected>{{ 'orders.status.waiting' | translate:locale.language }}</mat-chip>
                        </mat-chip-list>
                        {{ 'orders.subtitle' | translate:locale.language }} {{order.id}}
                    </mat-card-title>
                    <mat-card-subtitle>{{ 'orders.created' | translate:locale.language }}: {{order.created | date:'medium'}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h6 style="color: white"> {{order.graveyard}} </h6>
                    <mat-list>
                        <div mat-subheader>{{ 'orders.places' | translate:locale.language }}:</div>
                        <mat-list-item *ngFor="let place of order.places">
                            <mat-icon mat-list-icon>grass</mat-icon>
                            <div mat-line>{{place.tree}}</div>
                            <div mat-line>{{ 'orders.number' | translate:locale.language }} {{place.number}} </div>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
                
                <mat-card-actions *ngIf="order.status === 'waiting'">
                    <button mat-flat-button (click)="onCancell(order.id)">{{ 'orders.cancell' | translate:locale.language }}</button>
                    <button mat-raised-button color="accent" (click)="onPay(order.id, order.to_pay)">{{ 'orders.pay' | translate:locale.language }}</button>
                </mat-card-actions>
                
                <mat-card-footer>
                    <mat-divider></mat-divider>
                    <h5 class='text-center py-2'>{{ 'orders.total' | translate:locale.language }}: {{order.to_pay}} USD</h5>
                </mat-card-footer>
            </mat-card>
        </div>

    </div>
    

<div>

